**/__pycache__/
/conventional_example.png
/cropped_image.jpg
/Notebooks/Distribution of Steering Angles.svg
/Notebooks/Distribution of Steering Angles for Test Data.svg
/Notebooks/Distribution of Steering Angles for Training Data.svg
/Notebooks/lateral_sequence.png
/Notebooks/lateral_sequence.svg
/Notebooks/plot_logs (copy).ipynb
/Notebooks/.ipynb_checkpoints/plot_logs-checkpoint.ipynb
/Notebooks/RPI_Car-car_schematics.drawio.svg
/Notebooks/steering_both.png
/Notebooks/steering_conventional.png
/Notebooks/steering_conventional.svg
/Notebooks/steering_pilotnet.png
/Notebooks/visialize_dataset.ipynb
/Notebooks/.ipynb_checkpoints/Visualize_Trainin_Data-checkpoint.ipynb
/Notebooks/.ipynb_checkpoints/Visualize_Trainin_Data-Copy1-checkpoint.ipynb